.ml10 {
  margin-left: 10px;
}
.ff-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d3a50;
  padding: 0 15px 0 ;
  z-index: 1000;
  h1{
    width: 120px;
    height: 100%;
    flex: 1;
    min-width: 0;
    img{
      width: 110px;
    }
  }
  .ff-header-user{
    color: #fff;
    i{
      margin-left: 6px;
      font-size: 12px;
    }
  }
}

.user-menu{
  width: 150px;

  li{
    line-height: 30px;
    &:hover{
      color: #2f82ff;
      cursor: pointer;
    }
    i{
      width: 40px;
    }
  }
}
.ff-side{
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 240px;
  background-color: #f5f7fc;
  transition: all 0.2s ease-in-out;
  padding-top: 20px;
  li{
    padding-left: 30px;
    line-height: 45px;
    font-size: 14px;
    a{
      color: #676b77;
      &:hover,
      &.active{
        color: #2f82ff;
      }
      i{
        margin-right: 10px;
      }
    }
  }
}
.ff-main{
  padding: 80px 20px 20px 280px;
}

.app-title{
  font-size: 18px;
  line-height: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 25px;
  strong{
    border-left: 3px solid #ff4a4a;
    padding-left: 15px;
  }

}

.ava-user{
  display: flex;
  align-items: center;
  .ava-col{
    margin-left: 15px;
  }

  .name{
    padding-top: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  .user-info{
    span{
      margin-right: 15px;
      i{
        margin-right: 6px;
        font-size: 18px;
      }
    }
  }
  .m-money{
    margin-left: 50px;
    padding-top: 8px;
    .name{
      font-size: 14px;
    }
    .money{
      font-size: 26px;
      color: #ff4a4a;
      font-weight: bold;
      font-family: Arial;
      display: flex;
      align-items: center;
      button{
        margin-left: 20px;
      }
    }
  }
}
.alerts{
  margin-bottom: 20px;
}

.zuori{
  .money{
    color: #222!important;
  }
  a{
    font-size: 14px;
    margin-left: 30px
  }
}

.where{
  padding-top: 20px;
  .item{
    width: 100%;
    display: flex;
    align-items: center;
    .item-auto{
      flex: 1;
      min-width: 0;
    }
  }
}

.ff-table{
  padding-top: 30px
}

.pay-title{
  font-size: 18px;
}

.pay-fast{
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 0;
  border-bottom: 1px solid #e1e1e1;
  img{
    width: 64px;
    border-radius: 5px;
  }
  .item-auto{
    flex: 1;
    min-width: 1%;
    padding-left: 15px;
    p{
      margin-bottom: 0;
      padding-bottom: 10px;
      &.name{
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
  }
}

#__next{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.ff-main{
  flex: 1;
  min-height: 1%;
  display: flex;
  flex-direction: column;
}
.pay-box{
  display: flex;
  flex: 1;
  min-height: 1%;
  .pay-main{
    flex: 1;
    min-width: 1%;
    padding-left: 25px;
  }
}
